body{
 background: radial-gradient(
  ellipse at top,
  #1e3c72,
  #2a5298,
  #0f2027
);
}
.A1{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 5px;
  background: radial-gradient(
  ellipse at top,
  #1e3c72,
  #2a5298,
  #0f2027
);
  gap: 5px;
  border-radius: 5px;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 35px;
  gap: 20px;
}
.btn button{
  border-radius: 5px;
  background-color: #131A33;
  color: #ffffff;
  cursor: pointer;
}
.A{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: white;
}
.B{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  height: 100vw;
  gap: 10px;
   padding: 30px;
  justify-content: flex-start;
  background-color: #131A33;

}
button{
  border:none;
}
.Dash1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.head1 input{
  position: fixed;
  height: 40px;
  width: 500px;
  border-radius: 5px;
  color: #131A33;
  font-size: 20px;
}
.Dash2{
  display: flex;
  flex-direction: row;
  margin-left: 230px;
}
header a{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  align-content: center;
}
header{
  display: flex;
  flex-direction: column;
  position:fixed;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: 200px;
  padding: 10px;
  background-color: #131A33;
  color: white;
  gap: 30px;
}
nav{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
nav a{
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  width: 190px;
  padding: 5px;
  background: linear-gradient(
  145deg,
  rgba(255,255,255,0.6),
  rgba(200,230,255,0.6)
);
backdrop-filter: blur(10px);
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition:ease;
}
nav a:hover{
  background-color: #0000FF;
  color: white;
  scale: 1.1;
}
.Event1{
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  align-items: center;
  text-align: center;
  background-color: #131A33;
  padding: 50px;
  border-radius: 10px;

}
.check1 {
  height: 10px;

}
.update{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.update button{
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.682);
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.Event{
  display: flex;
  justify-content: center;
  color: white;
}
.Event2{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Event2 input{
  height: 40px;
  width: 500px;
  border-radius: 5px;
  border: 2px  solid #ffffff;
  font-size: 20px;
}
.Side1{
  height: fit-content;
  width: fit-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131A33;
   gap: 20px;
   border-radius: 10px;
}
.Side{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;padding-top: 50px;
}
.Side2 input{
  height: 40px;
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
}
.one{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.three{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.two{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}
.Side2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Side2 button{
  height: 40px;
  border-radius: 30px;
  background-color: rgba(0, 0, 255, 0.699);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.Log{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.Bar{
  height:400px;
  width: 400px;
  padding: 40px;
  border-radius: 30px;
  background-color: #131A33;
  color: white;
}
.Items button{
  height: 40px;
  background-color: rgba(0, 0, 255, 0.74);
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}
.Items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

}
.Items input{
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
}